<header class="site-header" role="banner">
  <div class="site-title">
    <div class="content">
      <div class="avatar">
        <img src="/assets/IMG-20191019-WA0005-01-01.jpeg" alt="Rajat Parashar">
      </div>
      <a class="logo" rel="author" href="{{ " /" | relative_url }}">{{ site.title | escape }}</a>
    </div>
  </div>
  <input type="checkbox" id="nav-trigger" class="menu-checkbox" name="menu-checkbox" />
  <div class="menu-button">
    <label for="nav-trigger">
      <span class="menu-icon open">
        &equiv;
      </span>
      <span class="menu-icon close">
        &times;
      </span>
    </label>
  </div>
  <nav class="site-nav">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- if page_paths -%}

    <ul class="navs">
      <li>
        <a class="nav-link bold" href="{{ site.resume | escape }}">Resumé</a>
      </li>
      {%- for my_page in page_paths -%}
      {%- if my_page.title -%}
      <li>
        <a class="nav-link{% if my_page.url == page.url %} active {% endif %}"
          href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>
    {%- endif -%}

    <div class="side-layout">
      {%- include social.html -%}
    </div>
    <div class="bg-blur"></div>
  </nav>

</header>
