/**
 * Site header
 */
.site-header {
  // min-height: $spacing-unit * 1.865;
  margin-bottom: 2rem;
  border-top: 8px solid $brand-color;
  padding-top: 5rem;
  text-align: center;
}
.site-title {
  @include relative-font-size(4);
  font-family: "LCD Solid";
  text-decoration: none !important;
  display: inline-block;
  margin-bottom: 1rem;
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 1rem;

  &,
  &:visited {
    color: $grey-color-dark;
  }
  &:after {
    content: ".blog";
    @include relative-font-size(1.4);
    color: $brand-color;
    vertical-align: baseline;
  }
}

.site-nav {
  display: flex;
  flex-direction: row;
  text-align: left;
  line-height: $base-line-height * $base-font-size * 1.25;
  justify-content: center;
  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }
  .navs {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    > li:not(:last-child) {
      margin-right: 1rem;
    }
    .nav-link {
      display: inline-block;
      padding: 0.25rem 1rem;
      color: $brand-color;
      text-decoration: none;
      line-height: $base-line-height;
      margin-bottom: 8px;
      border: 1px solid transparent;

      &:visited {
        background-color: $background-color;
        border: 1px solid $brand-color;
      }
      &:hover,
      &.active {
        background-color: $background-color;
        border: 1px solid $brand-color;
        box-shadow: 8px 8px 0px -2px $brand-color;
        color: $text-color;
      }
      &:active {
        box-shadow: 8px 8px 0px 0px $brand-color;
      }
    }
  }

  @include media-query($on-mob) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}
