@font-face {
  font-family: "LCD Solid";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("LcdSolid-VPzB.ttf");
  src: url("LcdSolid-VPzB.ttf") format("truetype");
}
@font-face {
  font-family: "Social";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("IconsSocialMedia-min.woff2");
  src: url("IconsSocialMedia-min.woff2") format("woff2");
  src: url("IconsSocialMedia-min.woff2") format("truetype");
}
* {
  box-sizing: border-box;
}

.layout {
  max-width: -webkit-calc(#{$layout-width});
  max-width: calc(#{$layout-width});
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  @include media-query($on-laptop) {
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
  @include media-query($on-mob) {
    max-width: 100%;
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  margin: auto;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
  @include media-query($on-laptop) {
    max-width: 100%;
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.site-nav,
.page-content {
  flex: 1 1 auto;
}

.social-icon {
  font-family: "Social";
}

.social-media-list {
  list-style: none;
  margin-left: 0;
  a:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
  li + li {
    padding-top: 5px;
  }
}
