.layout {
  max-width: -webkit-calc(#{$layout-width});
  max-width: calc(#{$layout-width});
  margin-right: auto;
  margin-left: auto;
  display: flex;
  width: 100%;
  flex-direction: row;
  @include media-query($on-laptop) {
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
  @include media-query($on-mob) {
    max-width: 100%;
    flex-direction: column;
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
  @include media-query($on-laptop) {
    max-width: 100%;
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.site-nav, .page-content{
  flex: 1 1 auto;
}
